@import "../Variables.scss";

.btn{
    @include sizes(30px, 30px);
    position: absolute;
    bottom: 0;
    font-size: 64px;
    color: $foreground-red-color;
    // background-color: green;

    i{
        position: absolute;
        cursor: pointer;

        &.right{
            left: 800px;
        }

        &.up{
            bottom: 55vh;
        }

        &.down{
            bottom: 45vh;
        }

        &:hover{
            @include hover-size(1.5);
        }
    }
}