@import "../Variables.scss";

.buttonLink{
    display: inline-block;
    @include sizes(auto, auto);

    margin-top: 12px;
    margin-left: 12px;

    padding: 6px 12px;
    border-radius: 12px;
    text-align: center;
    font-size: $p-font;
    @include p-mobile();
    text-decoration: none;

    background-color: $foreground-green-color;
    color: $foreground-color;

    &:hover{
        @include hover-btn();
    }
}