@import "../../Variables.scss";

.about {
  height: 100vh;
  background-color: #b370b3;
  display: flex;
  align-items: center;

  div {
    width: 720px;
    margin: auto;

    h3,
    h4,
    h5,
    p {
      color: $foreground-color;
    }

    h3 {
      font-size: 72px;
      line-height: 64px;
    }

    h4 {
      font-size: 72px;
      line-height: 64px;
    }

    h5 {
      font-size: 24px;
      font-weight: 400;
    }

    p {
      font-size: 24px;
      font-weight: 200;
      margin-top: 24px;
      text-align: justify;
    }
  }
}
