@import "../Variables.scss";

header {
  @include sizes(60px, 100%);

  position: absolute;
  top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;

  nav {
    width: 720px;

    li {
      width: 100%;
      display: flex;
      justify-content: space-between;

      ul {
        padding: 6px 12px;
        border-radius: 12px;
        a {
          padding-bottom: 6px;
          text-decoration: none;
          color: $foreground-color;
          font-size: 24px;
          font-weight: 400;
        }

        &:hover {
          @include hover-border();
        }
      }
    }
  }
}
