@import "../Variables.scss";

header {
  @include sizes(60px, 100%);

  position: fixed;
  top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;

  @media (max-width: $content-width) {
    @include sizes(100vh, 0);
    top: 0;
    left: -200px;

    &.openHeader {
      width: 100vw;
      left: 0;
      background-color: rgba(0, 0, 0, 0.692);
    }
  }

  #closeBtn {
    font-size: 48px;
    color: $foreground-red-color;
    background-color: transparent;
    border: none;

    position: absolute;
    top: 24px;
    left: calc(200px + 24px);
    &.openBtn {
      left: auto;
      right: 24px;
    }
    @media (min-width: $content-width) {
      display: none;
    }

    i {
      cursor: pointer;
    }
  }

  nav {
    width: 720px;

    li {
      width: 100%;
      display: flex;
      justify-content: space-between;

      @media (max-width: $content-width) {
        padding-left: 12px;
        flex-direction: column;
        width: 200px;
      }

      ul {
        padding: 6px 12px;
        border-radius: 12px;

        a {
          padding-bottom: 6px;
          text-decoration: none;
          color: $foreground-color;
          font-size: $p-font;
          font-weight: 400;
          @include p-mobile();
        }
        button {
          padding: 3px 0;
          text-decoration: none;
          color: $foreground-color;
          background-color: transparent;
          border: none;
          font-size: $p-font;
          font-weight: 400;
          cursor: pointer;
          @include p-mobile();
        }
        &:hover {
          @include hover-border();
        }
      }
    }
  }
}
