$title-font: 32px;
$subtitle-font: 24px;
$content-font: 16px;

$background-color: #389c73;
$foreground-color: #e2f1ff;

@mixin sizes($height, $width) {
  height: $height;
  width: $width;
}

@mixin hovers {
  color: $foreground-color;
  background-color: $background-color;
  box-shadow: inset 0 0 0 2px $foreground-color;
}
