$title-font: 32px;
$subtitle-font: 24px;
$content-font: 16px;

$background-color: #29333c;
$foreground-color: #f9f1f0;
$foreground-red-color: #d93b49;
$foreground-green-color: #6a8874;

@mixin sizes($height, $width) {
  height: $height;
  width: $width;
}

@mixin hover-btn {
  color: $foreground-color;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px $foreground-color;
}

@mixin hover-border {
  box-shadow: inset 0 0 0 2px $foreground-color;
}

@mixin hover-size {
  transform: scale(1.02);
}

@mixin background {
	background: linear-gradient(-12deg, #3c2936, #252e36, #1d242a, #101418);
	background-size: 400% 400%;
	animation: gradient 16s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}