$title-font: 32px;
$subtitle-font: 24px;
$content-font: 16px;

$background-color: #29333c;
$foreground-color: #f9f1f0;
$foreground-red-color: #d93b49;
$foreground-green-color: #6a8874;

@mixin sizes($height, $width) {
  height: $height;
  width: $width;
}

@mixin hover-btn {
  color: $foreground-color;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px $foreground-color;
}

@mixin hover-border {
  box-shadow: inset 0 0 0 2px $foreground-color;
}

@mixin hover-size ($scale: 1.02){
  transform: scale($scale);
}