@import "../Variables.scss";

.container {
  height: 100vh;
  display: flex;
  align-items: center;

  // background-color: $foreground-red-color;
  // // -webkit-mask-image: url(icon.svg);
  // mask: url(../../img/home.svg) no-repeat 50% 50%;

  & .content {
    width: 720px;
    margin: auto;
    z-index: 2;
    // backdrop-filter: blur(12px);

    h3,
    h4,
    h5,
    p {
      color: $foreground-color;
    }

    h3 {
      font-size: 72px;
      line-height: 64px;
    }

    h4 {
      font-size: 72px;
      line-height: 64px;
    }

    h5 {
      margin-top: 4px;
      font-size: 24px;
      font-weight: 400;
      color: $foreground-green-color;
    }

    p {
      font-size: 24px;
      font-weight: 200;
      margin-top: 24px;
      text-align: justify;
      white-space: pre-line;
    }

    & .footer {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

  // & .back{
  //   position: fixed;
  //   color: $foreground-red-color;
  //   font-size: 700px;
  //   bottom: -90px;
  //   left: -50px;
  //   filter: blur(1px);
  //   z-index: 1;
  //   overflow: hidden;
  // }
}