@import "../Variables.scss";

.contentContainer {
  height: 100vh;
  background-color: $background-color;
  display: flex;
  align-items: center;

  & .container {
    width: 720px;
    margin: auto;

    h3,
    h4,
    h5,
    p {
      color: $foreground-color;
    }

    h3 {
      font-size: 72px;
      line-height: 64px;
    }

    h4 {
      font-size: 72px;
      line-height: 64px;
    }

    h5 {
      font-size: 24px;
      font-weight: 400;
    }

    p {
      font-size: 24px;
      font-weight: 200;
      margin-top: 24px;
      text-align: justify;
    }

    & .footer {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
