@import "../Variables.scss";

.container {
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;

  & .content {
    width: 760px;
    margin: auto;
    padding: 0 20px;
    z-index: 2;

    h3,
    h4,
    h5,
    p {
      color: $foreground-color;
    }

    h3 {
      font-size: $h3-font;
      line-height: 64px;
    }

    h4 {
      font-size: $h3-font;
      line-height: 64px;
    }

    h5 {
      margin-top: 4px;
      font-size: $p-font;
      font-weight: 400;
      color: $foreground-green-color;
    }

    p {
      font-size: $p-font;
      font-weight: 200;
      margin-top: 24px;
      text-align: justify;
      white-space: pre-line;
    }

    & .footer {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

  & .back {
    position: absolute;
    bottom: 50%;
    left: 50%;
    z-index: 1;

    img{
      position: absolute;
      filter: blur(.5px);
    }
  }
}
