html {
  scroll-behavior: smooth;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

@mixin background-img ($h, $w, $bottom, $left){
  height: $h;
  width: $w;
  bottom: $bottom;
  left: $left;
}

#home{
  img{
    @include background-img(800px, 800px, -320px, -1080px);
  }
}
#about{
  img{
    @include background-img(800px, 800px, -420px, 220px);
  }
}
#skills{
  img{
    @include background-img(800px, 800px, -520px, -1060px);
  }
}
#education{
  img{
    @include background-img(800px, 800px, -580px, 260px);
  }
}